html, body {
  margin: 0;
  padding: 0;
}

.game-screen {
    position: relative;
    width: 700px; /* adjust this line to your needs */
    height: 512px; /* adjust this line to your needs */
}

.game-screen::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-size: cover;
}

.character {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}